<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Resale Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Resale Price</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <input type="text" name="town" placeholder="Town Name" required="required" /><br>
    	<input type="text" name="month" placeholder="YYYY-MM" required="required" /><br>
<!--        <input type="text" name="flat_type" placeholder="Flat Type" required="required" /><br>-->
        </select>
            <select name="flat_type" required="required">
            <option value="" >Select Flat Type</option>
            <option value="1 ROOM">1 ROOM</option>
            <option value="2 ROOM">2 ROOM</option>
            <option value="3 ROOM">3 ROOM</option>
            <option value="4 ROOM">4 ROOM</option>
            <option value="5 ROOM">5 ROOM</option>
            <option value="EXECUTIVE">EXECUTIVE</option>
            <option value="MULTI-GENERATION">MULTI-GENERATION</option>
        </select><br>
<!--        <input type="text" name="storey_range" placeholder="?? TO ??" required="required" /><br>-->
        </select>
            <select name="storey_range" required="required">
            <option value="" >Select Storey Range</option>
            <option value="01 TO 03">01 TO 03</option>
            <option value="04 TO 06">04 TO 06</option>
            <option value="07 TO 09">07 TO 09</option>
            <option value="10 TO 12">10 TO 12</option>
            <option value="13 TO 15">13 TO 15</option>
            <option value="16 TO 18">16 TO 18</option>
            <option value="19 TO 21">19 TO 21</option>
            <option value="22 TO 24">22 TO 24</option>
            <option value="25 TO 27">25 TO 27</option>
            <option value="28 TO 30">28 TO 30</option>
            <option value="31 TO 33">31 TO 33</option>
            <option value="34 TO 36">34 TO 36</option>
            <option value="37 TO 39">37 TO 39</option>
            <option value="40 TO 42">40 TO 42</option>
            <option value="43 TO 45">43 TO 45</option>
            <option value="46 TO 48">46 TO 48</option>
            <option value="49 TO 51">49 TO 51</option>
        </select><br>
        <input type="text" name="floor_area_sqm" placeholder="Floor area Sqm" required="required" /><br>
<!--        <input type="text" name="flat_model" placeholder="Flat Model" required="required" /><br>-->
        </select>
            <select name="flat_model" required="required">
            <option value="" >Select Flat Type</option>
            <option value="2-room">2-room</option>
            <option value="3Gen">3Gen</option>
            <option value="Adjoined flat">Adjoined flat</option>
            <option value="Apartment">Apartment</option>
            <option value="DBSS">DBSS</option>
            <option value="Improved">Improved</option>
            <option value="Improved-Maisonette">Improved-Maisonette</option>
            <option value="Maisonette">Maisonette</option>
            <option value="Model A">Model A</option>
            <option value="Model A2">Model A2</option>
            <option value="Model A-Maisonette">Model A-Maisonette</option>
            <option value="Multi Generation">Multi Generation</option>
            <option value="New Generation">New Generation</option>
            <option value="Premium Apartment">Premium Apartment</option>
            <option value="Premium Apartment Loft">Premium Apartment Loft</option>
            <option value="Premium Maisonette">Premium Maisonette</option>
            <option value="Simplified">Simplified</option>
            <option value="Standard">Standard</option>
            <option value="Terrace">Terrace</option>
            <option value="Type S1">Type S1</option>
            <option value="Type S2">Type S2</option>
        </select><br>
        <input type="text" name="lease_commence_date" placeholder="Lease commence year in YYYY" required="required" /><br>
        <input type="text" name="cbd_dist" placeholder="CBD distance in Meters" required="required" /><br>
        <input type="text" name="min_dist_mrt" placeholder="Minimum Distance from MRT in Meters" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <br>
        {{pred}}
    </form>

   <br>
   <br>
  
   
 </div>

</body>
</html>
